<div class="bg-white rounded-lg shadow min-h-screen">
  <div class="max-w-3xl mx-auto">
    <div class="flex flex-row justify-around  px-6 py-4">
      <% if @user.avatar.attached?%>
      <div>
        <%= image_tag  @user.avatar, class:"rounded-full my-5 h-32 w-32 border-solid border-4 border-black" %>
      </div>
      <%end%>
      <div class="p-3">
        <div class="flex justify-start">
          <h3 class="text-black text-3xl font-bold py-3 pr-3"><%=@user.name%></h3>
          <% if @user.id == current_user&.id%>
          <a href="<%= edit_user_path(@user) %>" class="pt-5">
            <button class=" text-sm text-black-500 rounded border-b-2 border-yellow-500 "> Edit Profile</button>
          </a>
          <%end%>
        </div>
        <div class="flex justify-between">
          <div class="pr-4">
            <h3 class="font-bold"><%=@posts.count %> <span class="font-normal">Posts</span></h3>
          </div>
          <div class="pr-4">
            <h3 class="font-bold">324 <span class="font-normal">Followers</span></h3>
          </div>
          <div>
            <h3 class="font-bold">412 <span class="font-normal">Following</span></h3>
          </div>
        </div>
        <h3 class="pt-1">
          <%=@user.bio%>
        </h3>
        <a href="https://<%=@user.website%>" class="text-blue-700 pt-1" target="blank"><%=@user.website%></a>
      </div>
    </div>
  </div>

  <hr class="border-primary-100 mt-6" />

  <div class=" flex flex-wrap  max-w-3xl mx-auto py-4 justify-start">
    <% @posts.each do |post| %>
    <% if post.image.attached?%>
    <%= link_to post_path(post), class: "w-1/2 p-4" do %>
    <%= image_tag post.image ,class:"relative rounded-lg shadow-lg bg-auto"%>
    <%end%>


    <%end%>
    <%end%>


  </div>
</div>