<div class="bg-gray-200 min-h-screen">
  <div class="max-w-3xl mx-auto">
    <div class="flex flex-row justify-around  px-6 py-4">
      <% if @user.avatar.attached?%>
      <div>
        <%= image_tag  @user.avatar, class:"rounded-full my-5 h-32 w-32 border-solid border-4 border-black" %>
      </div>
      <%end%>
      <div class="border-solid border-2 border-black-400 p-3">
        <div class="flex justify-start">
          <h3 class="text-black text-3xl font-bold py-3 pr-3"><%=@user.name%></h3>
          <% if @user.id == current_user&.id%>
          <a href="<%= edit_user_path(@user) %>" class="pt-5">
            <button class=" text-sm text-black-500 rounded border-b-2 border-yellow-500 "> Edit Profile</button>
          </a>
          <%end%>
        </div>
        <div class="flex justify-between">
          <div class="pr-4">
            <h3 class="font-bold"><%=@posts.count %> <span class="font-normal">Posts</span></h3>
          </div>
          <div class="pr-4">
            <h3 class="font-bold">324 <span class="font-normal">Followers</span></h3>
          </div>
          <div>
            <h3 class="font-bold">412 <span class="font-normal">Following</span></h3>
          </div>
        </div>
        <h3 class="pt-1">
          <%=@user.bio%>
        </h3>
        <a href="https://<%=@user.website%>" class="text-blue-700 pt-1" target="blank"><%=@user.website%></a>
      </div>
    </div>
  </div>

  <hr class="border-gray-500 mt-6" />

  <div class="flex justify-around max-w-md mx-auto my-4">
    <button class="text-md font-bold text-gray-800 mr-2">POSTS</button>
    <button class="text-md font-bold text-gray-800 mr-2">IGTV</button>
    <button class="text-md font-bold text-gray-800 mr-2">SAVED</button>
    <button class="text-md font-bold text-gray-800 mr-2">TAGGED</button>

  </div>
  <div class=" flex flex-wrap  max-w-3xl mx-auto py-4 justify-start">
    <% @posts.each do |post| %>
    <% if post.image.attached?%>
    <div class="">
      <%= link_to post_path(post) do %>
      <%= image_tag post.image, class:"mr-2 my-4 h-56 w-56" %>
      <%end%>
    </div>
    <%end%>
    <%end%>


  </div>
</div>