<!DOCTYPE html>
<html>

<head>
  <title>Pupzo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="movie-gig">
    <%= render 'layouts/header' %>
    <main class="bg-primary-50 pt-4">
      <div class="max-w-5xl mx-auto p-2">
        <%= yield %>
      </div>
    </main>
    <footer class="bg-white shadow border-t border-primary-100  w-full px-4 bottom-0 left-0 ">
      <div class="flex items-center text-center p-2">
        <i class="animate-pulse fas fa-heart text-primary-600 mr-2"></i> <span class="text-md font-semibold"> Bodhi</span>
      </div>
    </footer>
  </div>
</body>

</html>